
body{
    background: #010101 !important;
}
a{
    text-decoration: none !important;
}
.Blue{
    color: #69779b !important;
}
.Green{
    color: #acdbdf !important;
}
.White{
    color: #f0ece2 !important;
}
.Background{
    background-color: #010101 !important;
}
.label-green{
    background-color: #010101 !important;
    border-color: #acdbdf !important;
    color: #acdbdf !important;
}
.label-blue{
    background-color: #010101 !important;
    border-color: #69779b !important;
    color:#69779b !important;
}
.heading{
    font-size: 80px !important;
    font-weight: 600 !important;
    letter-spacing: 6px;
    padding-top: 2% !important;
    padding-bottom: 2% !important;
}
.sub-heading{
    font-size: 50px !important;
    font-weight: 700 !important;
    letter-spacing: 2px;
    
    padding-bottom: 2% !important;
}
@media screen and (max-width:800px){
    .heading{
        font-size: 50px !important;
    font-weight: 600 !important;
    letter-spacing: 3px;
    padding-top: 2% !important;
    padding-bottom: 2% !important;
    }
    .sub-heading{
        font-size: 25px !important;
        font-weight: 700 !important;
        letter-spacing: 1px;
        padding-top: 2% !important;
        padding-bottom: 2% !important;
    }
}
.img{
    height: 189px;
    width: 189px;
}
.float-right{
    float: right;
}
.White-sub{
    color: #758184 !important;
}
.apart{
    letter-spacing: 1px;
}
.container{
    padding-left: 5% !important;
    padding-right: 5% !important;
}
.box{
    padding-top: 3% !important;
    padding-left: 1% !important;
    padding-right: 45% !important;
    
}
@media screen and (max-width:800px){
.box{
    /* padding-top: 10% !important; */
    padding-left: 1% !important;
    padding-right: 10% !important;
    
}}
.section{
    margin-top: 12% !important;
    margin-bottom: 8% !important;
}
.footer{
    padding-top:10% !important;
    
}
.footer-text{
    text-align: center;
    text-transform: none !important;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
}
@media screen and (max-width:600px){
    .footer-text{
        font-size: 12px !important;
    }
}
.smallscreen{
    margin-left: 0!important;
    margin-right: 0!important;
}
.after-menu{
    padding-top: 42px !important;
}
.sidebar{
    padding-top: 48px;
    display: flex !important;
    position: fixed !important;
    height: 100%;
    visibility: visible !important;
    z-index: 100;
    background: #010101;
    width: 80%;
    text-align: center;
    font-size: 18px;
    justify-content: center;
}
.container-bt{
    height:100%;
}
.no-dots{
    list-style-type: none;
}
.sidebar-items{
    padding-top: 4px;
    padding-bottom:4px;
    letter-spacing: 2px;
}
.starting{
    padding-top: 3% !important;
}
@media screen and (max-width:600px){
    .starting{
        padding-top: 48px !important;
    }
}
.para-intro{
    font-size: 22px !important;
    font-weight: 400 !important;
}
@media screen and (max-width:800px){
    .para-intro{
    font-size: 18px !important;}
}
.intro{
    font-size: 18px !important;
    font-weight: 400 !important;
}
.after-intro{
    font-weight: 450 !important;
}
.label-padding{
    padding-top:5% !important;

}
.label-text{
    font-size: 18px !important;
}
.about-section{
    margin-bottom: 1% !important;
}
.resume-label{
    margin-right: 5px !important;
    margin-top: 1px !important;
    margin-bottom:1px !important;
    padding-bottom: 0px !important;
    font-size: 15px !important;
}
.contact-section{
    margin-bottom: 1% !important;
}
.contact-text{
    text-align: center !important;
    justify-content: center !important;
}
.first-block{
    margin-bottom: 25% !important;
}